<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zswltech.preserver.infrastructure.mapper.SystemFieldMapper">
  <resultMap id="BaseResultMap" type="cn.zswltech.preserver.infrastructure.dataobject.SystemFieldDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="data_type" jdbcType="INTEGER" property="dataType" />
    <result column="field_group_id" jdbcType="VARCHAR" property="fieldGroupId" />
    <result column="suffix_name" jdbcType="VARCHAR" property="suffixName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="field_info" jdbcType="LONGVARCHAR" property="fieldInfo" />
  </resultMap>
</mapper>